#hcms_survey {

	.read-only {
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	$primary-color: #CC9324;

	body {
		font-size: 14px;
		font-family: 'GoogleSans', 'Roboto', sans-serif;
		min-height: 100%;
		background-color: #FFFFFF;
	}

	.survey-header {
		h1.main-title {
			font-size: 24px !important;
		}

		.main-desc {
			font-size: 22px;
			font-weight: 400;
		}

		.img-logo {
			width: 125px;
		}

		.img-divider {
			width: 100%;
			max-width: 400px;
		}
	}

	.element-item {
		padding-top: 20px;
		overflow-x: auto;

		&[data-type="Heading 2"] {
			padding-top: 50px;
		}

		label {
			p {
				margin-bottom: 5px;
			}
		}

		.h2-title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
		}

		.h2-description {
			font-size: 16px;
			color: #CC9324;
		}

		.h3-title {
			padding-top: 10px;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
		}

		.h3-description {
			font-size: 14px;
			color: #5F5F5F;
			font-style: italic;
		}

		.question-title {
			font-size: 14px;
			font-weight: 700;
		}

		.question-description {
			font-size: 12px;
			font-style: italic;
			color: #5F5F5F;
		}

		input:not([type="radio"]) {
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			&:focus {
				box-shadow: none;
			}

			height: 38px;
			font-size: 12px;
			border: 1px solid #E8E8E8;
			background-color: #F9F9F9;
			vertical-align: middle;


			// &[type="radio"]::before {
			// 	// visibility: hidden;
			// }

			// &[type="radio"]:checked {
			// 	background-color: #CC9324;
			// 	border: 1px solid #CC9324;
			// }
		}

		input[type="radio"] {
			margin-right: 0px !important;
			// appearance: none!important;

			&:before {

				width: 16px!important;
				height: 16px!important;
				border: 1px solid #D3D3D3!important;
				background-color: white!important;
				border-radius: 50%!important;
				background-clip: content-box!important;
				padding: 2px!important;
			}
			
			&:checked:before {
				background-color: #CC9324!important;
				border: 1px solid #CC9324!important;
			}


		}


		textarea {
			&:focus {
				box-shadow: none;
			}

			font-size: 12px;
			border: 1px solid #E8E8E8;
			background-color: #F9F9F9;
		}

		table {
			border: 1px solid #DBE2F0;

			th {
				padding: 10px;
			}

			th,
			td {
				font-weight: 700;
				vertical-align: center;
				text-align: center;
				border: 1px solid #DBE2F0;

				.td-description {
					font-weight: 400;
					font-style: italic;
					color: #5F5F5F;
				}
			}
		}
	}

	.survey-footer {
		text-align: center;

		.btn-submit {
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border-radius: 26px;
			color: white;
			border: 1px solid #AE7129;
			background-color: #AE7129;
			width: 225px;
			height: 44px;
			font-size: 16px;
			font-weight: 500;
		}

		.btn-submit:hover {
			background-color: transparent;
			color: #AE7129;
		}

	}

	.radio-wrapper {
		gap: 20px;
		display: flex;

		.radio-item-wrapper {
			display: inline-flex;
			align-items: center;
			margin-bottom: 5px;

			input {
				margin-right: 5px;
			}

			label {
				font-weight: 500;
			}
		}
	}

}