<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{main_title}} | HCMS
	</title>
	<link rel="icon" href="https://cs.masterisehomes.com/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/survey/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>
	<div class="survey-wrapper mb-5">
		<div class="survey-header pt-4">
			<div class="container">
				<div class="d-flex align-items-center justify-content-center flex-column">
					<img class="img-logo" src="/assets/hcms_survey/img/logo_mas.svg" alt="">
					<h1 class="pt-5 text-center text-uppercase main-title">{{main_title}}</h1>
					<h2 class="pt-3 text-center mb-5 main-desc">{{description}}</h2>
					<img class="img-divider" src="/assets/hcms_survey/img/divider.svg" alt="">
				</div>
			</div>
		</div>

		<div class="survey-body-wrapper pt-5 mb-5">
			<div class="container">
				<form id="form_survey">
					<div class="row" id="survey_body"></div>
				</form>
			</div>
		</div>

		<div class="survey-footer">
			<button type="submit" class="btn-submit">Gửi thông tin</button>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

	<script>
		const survey = {{ survey | json}};
	</script>

	<script src="/survey/js/constant.js"></script>
	<script src="/survey/js/index.js"></script>

</body>

</html>