@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#hcms_survey .read-only {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#hcms_survey body {
  font-size: 14px;
  font-family: "GoogleSans", "Roboto", sans-serif;
  min-height: 100%;
  background-color: #FFFFFF;
}
#hcms_survey .survey-header h1.main-title {
  font-size: 24px !important;
}
#hcms_survey .survey-header .main-desc {
  font-size: 22px;
  font-weight: 400;
}
#hcms_survey .survey-header .img-logo {
  width: 125px;
}
#hcms_survey .survey-header .img-divider {
  width: 100%;
  max-width: 400px;
}
#hcms_survey .element-item {
  padding-top: 20px;
  overflow-x: auto;
}
#hcms_survey .element-item[data-type="Heading 2"] {
  padding-top: 50px;
}
#hcms_survey .element-item label p {
  margin-bottom: 5px;
}
#hcms_survey .element-item .h2-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
#hcms_survey .element-item .h2-description {
  font-size: 16px;
  color: #CC9324;
}
#hcms_survey .element-item .h3-title {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
#hcms_survey .element-item .h3-description {
  font-size: 14px;
  color: #5F5F5F;
  font-style: italic;
}
#hcms_survey .element-item .question-title {
  font-size: 14px;
  font-weight: 700;
}
#hcms_survey .element-item .question-description {
  font-size: 12px;
  font-style: italic;
  color: #5F5F5F;
}
#hcms_survey .element-item input:not([type=radio]) {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 38px;
  font-size: 12px;
  border: 1px solid #E8E8E8;
  background-color: #F9F9F9;
  vertical-align: middle;
}
#hcms_survey .element-item input:not([type=radio]):focus {
  box-shadow: none;
}
#hcms_survey .element-item input[type=radio] {
  margin-right: 0px !important;
}
#hcms_survey .element-item input[type=radio]:before {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #D3D3D3 !important;
  background-color: white !important;
  border-radius: 50% !important;
  background-clip: content-box !important;
  padding: 2px !important;
}
#hcms_survey .element-item input[type=radio]:checked:before {
  background-color: #CC9324 !important;
  border: 1px solid #CC9324 !important;
}
#hcms_survey .element-item textarea {
  font-size: 12px;
  border: 1px solid #E8E8E8;
  background-color: #F9F9F9;
}
#hcms_survey .element-item textarea:focus {
  box-shadow: none;
}
#hcms_survey .element-item table {
  border: 1px solid #DBE2F0;
}
#hcms_survey .element-item table th {
  padding: 10px;
}
#hcms_survey .element-item table th,
#hcms_survey .element-item table td {
  font-weight: 700;
  vertical-align: center;
  text-align: center;
  border: 1px solid #DBE2F0;
}
#hcms_survey .element-item table th .td-description,
#hcms_survey .element-item table td .td-description {
  font-weight: 400;
  font-style: italic;
  color: #5F5F5F;
}
#hcms_survey .survey-footer {
  text-align: center;
}
#hcms_survey .survey-footer .btn-submit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 26px;
  color: white;
  border: 1px solid #AE7129;
  background-color: #AE7129;
  width: 225px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
}
#hcms_survey .survey-footer .btn-submit:hover {
  background-color: transparent;
  color: #AE7129;
}
#hcms_survey .radio-wrapper {
  gap: 20px;
  display: flex;
}
#hcms_survey .radio-wrapper .radio-item-wrapper {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}
#hcms_survey .radio-wrapper .radio-item-wrapper input {
  margin-right: 5px;
}
#hcms_survey .radio-wrapper .radio-item-wrapper label {
  font-weight: 500;
}

/*# sourceMappingURL=hcms_survey.css.map */
