<div id="hcms_survey">
	<div class="survey-wrapper mb-5">
		<div class="survey-header pt-4">
			<div class="container">
				<div class="d-flex align-items-center justify-content-center flex-column">
					<img class="img-logo" src="/assets/hcms_survey/img/logo_mas.svg" alt="">
					<h1 class="pt-5 text-center text-uppercase main-title">{{main_title}}</h1>
					<h2 class="pt-3 text-center mb-5 main-desc">{{description}}</h2>
					<img class="img-divider" src="/assets/hcms_survey/img/divider.svg" alt="">
				</div>
			</div>
		</div>

		<div class="survey-body-wrapper pt-5 mb-5">
			<div class="container">
				<form id="form_survey">
					<div class="row" id="survey_body"></div>
				</form>
			</div>
		</div>

		<div class="survey-footer">
			<button type="submit" form="form_survey" class="btn-submit">Gửi thông tin</button>
		</div>
	</div>
</div>
